.project-filter {
    padding-left: 5%;
    padding-right: 5%;

    /* turn off text selection, it works goofy with the toggling of tags */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* overwrite tag background colour when unselected */
.unselected .tag-pill {
    background-color: #A2A2A2;
}

.project-filter-tags-container .tag-pill:hover {
    cursor: pointer;
}

.toggle-filter-container {
    padding-left: 40px;

}