.project-link {
    text-align: center;
}

.project-list-tags {
    display: flex;
    justify-content: center; /* Centers the tags container in the cell */
    flex-wrap: wrap; /* Allows tags to wrap to the next line if needed */
    gap: 4px; /* Adds a small gap between tags for better visual separation */
}