.project-banner {
    display: flex; /* Changed from inline-block to flex */
    flex-direction: row; /* Stacks children vertically */
    justify-content: space-between; /* Centers children vertically */
    align-items: center; /* Centers children horizontally */
    border-style: double;
    border-width: 5px;
    margin-top: 13px;
    width: 100%;
    box-sizing: border-box;
}

.project-banner-projects {
    background-color: rgb(219, 250, 240);
}

.project-banner-courseworks {
    background-color: rgb(255, 242, 224);
}

.project-banner-experiences {
    background-color: rgb(255, 227, 227);
}

.tags-container {
    display: flex;
    align-items: center; /* This line centers the .tag-pill divs vertically within the .tags-container */
    justify-content: left; /* Centers children within the container horizontally, remove if not desired */
}

.project-url {
    float: right;
    margin-right: 50px;
}

.project-url-link {
    display: inline-block;
    vertical-align: center;
}

.project-url-link a {
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    border: #000 1px solid;
}

.project-url-link span {
    font-family: monospace;
    text-align: center;
    text-decoration: none;
}

/* 
.link-icon-img {
    width: 30px;
    height: 30px;
    vertical-align: center;
} */

.tags-container, .links-container {
    display: flex;
    align-items: center;
}

.project-url:not(:last-child) {
    margin-right: 16px; /* Adjusts space between the two project-url divs */
}

  /* If you reintroduce icons */
.link-icon-img {
    margin-right: 8px; /* Space between icon and text */
    width: 24px; /* Adjust size as needed */
    height: auto;
}