.project-banner {
    display: inline-block;
    background-color: aquamarine;
    border-style: double;
    padding-top: 30px;
    width: 100%;
    justify-content: space-between;
}

.project-banner-projects {
}

.project-banner-courseworks {
}

.project-banner-experiences {
}

.project-url {
    float: right;
    margin: 0;
}

.project-url-link {
    display: inline-block;
    padding: 14px 16px;
    vertical-align: center;
}

.project-url-link > a {
    font-family: monospace;
    text-align: center;
    text-decoration: none;
}

.project-url-link > span {
    font-family: monospace;
    text-align: center;
    text-decoration: none;
}

/* 
.link-icon-img {
    width: 30px;
    height: 30px;
    vertical-align: center;
} */

.tags-container, .links-container {
    display: flex;
    align-items: center;
}

.project-url:not(:last-child) {
    margin-right: 16px; /* Adjusts space between the two project-url divs */
}

  /* If you reintroduce icons */
.link-icon-img {
    margin-right: 8px; /* Space between icon and text */
    width: 24px; /* Adjust size as needed */
    height: auto;
}