.even-section {
    background-color: #ECEEF0;
}

.odd-section {
    background-color: #E7E9EB;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section {
    display: flex;
    width: 100%;
    min-height: 300px;
}

.about-section-content {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0 auto; /* This centers the div */
}

.about-text, .about-frame-container {
    padding: 20px;
}

.about-text {
    flex: 60%;
}

.about-frame-container {
    flex: 40%;
    align-content: center;
    justify-content: center;
}

.about-section-heading {
    text-align: center;
}

.about-section h2 {
    color: #2B55AD;
}

/* Smaller screens should have slightly different layout */
@media (max-width: 1200px) {
    .about-section-content {
        width: 90%;
    }
}