/* https://www.tutorialspoint.com/creating-an-animated-pill-shaped-button-using-html-and-css */
.tag-pill {
    margin: 3px 1px;
    border-radius: 10px;
    padding: 5px 1em 5px 1em;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #2B55AD;
}