#experiences {
    background-image: url('./aubergine_master_logo_for_digital_png.png');
}

#projects {
    background-image: url('./aubergine_master_logo_for_digital_png.png');
}

#courseworks {
    background-image: url('./aubergine_master_logo_for_digital_png.png');
}

.sections {
    padding: 5%;
    display: flex;
    width: 90%;
    height: 50vh;
    background-color: #ECEEF0;
}

.sections-section {
    border: #18181810 solid;
    width: 33.33%;
    background-color: #F9F9F9;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease; /* Smooth transition for moving to center */
    
    position: relative;
    display: flex; /* Enables flexbox layout */
    align-items: flex-end; /* Aligns children (the h1) at the end of the container (bottom) */
    justify-content: center; /* Centers children horizontally */
}

.sections-section:hover {
    border: none;
    z-index: 1; /* so enlarged goes over the surrounding sections */
    transform: scale(1.05); /* enlarge for emphasis */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* add a shadow for emphasis */
}

.sections-section h1 {
    margin: 0;
}

.sections-section a {
    text-decoration: none;
    text-align: center;
}