/* Sections.module.css */
#sections {
    display: flex;
    width: 100%;
    height: 100vh;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

#experiences {
    /* background-image: url('url_to_experiences_background_image'); */
}

#projects {
    /* background-image: url('url_to_projects_background_image'); */
}

#courseworks {
    /* background-image: url('url_to_courseworks_background_image'); */
}

.section h1 {
    margin: 0;
    padding-top: 20vh;
    text-align: center;
}

.section a {
    text-decoration: none;
    text-align: center;
}