.toggle-container-container {
    padding: 10px;
}

.toggle-container {
    width: 200px;
    height: 40px;
    background-color: #7A92B1;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start; /* left */
    align-items: center;
    padding: 2px; /* small margin around toggle pill */
    margin: 0 auto 20px; /* Centered horizontally */
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.slider {
    background-color: #2B55AD;
    border-radius: 18px;
    color: white;
    text-align: center;
    line-height: 36px;
    width: 50%;
    transition: all 0.3s;
    user-select: none; /* so text inside toggle can't be selected */
}

.details {
    justify-content: flex-end;
    transform: translateX(100%);
}