#navbar {
    font-family: Hack, monospace;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    margin: 0;
    background-color: #DFE4E8;
}

#left-navbar {
    display: inline-flex;
    flex-direction: row;
    float: left;
}

#right-navbar {
    display: inline-flex;
    flex-direction: row;
    float: right;
}

#navbar li > a {
    display: block;
    color: #2B55AD;
    font-family: monospace;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}