.about-image-frame {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin-right: 20px; /* Adjust as needed, for spacing */
}

.framed-image {
    margin: 10px;
    margin-bottom: 50px;
}