#navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

#banner {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 60px;
}

#content {
    margin-top: 360px;
    z-index: 1000;
}