/* normalise styles */
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400px;
    background-color: #ECEEF0;
}

h1 {
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #2B55AD;
    text-align: center;
}

h2 {
    font-weight: 300;
}

a {
    font-weight: 300;
}

p {
    font-weight: 300;
}

b {
    color: #2B55AD;
}