/* normalise styles */
body {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa';
    font-size: 18px;
    padding-top: 50px; /* This is supposed to allow content to escape the navbar */
}

/* center all h1 tags */
h1 {
    text-align: center;
}