/* normalise styles */
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 200;
    background-color: #F9F9F9;
}

h1 {
    font-weight: 100;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    color: #2B55AD;
    text-align: center;
}

h2 {
    font-weight: 100;
}

b {
    color: #2B55AD;
}